body {
    max-width: 800px;
    margin: 0 auto;
}

.splash-image img {
    max-width: 800px;
}


.site-header {
    padding: 1.714285714rem 0 0 0;
}

.site-title,
.site-description {

}

#social_fb {margin:5px;width:32px;height:30px;background-image:url("/img/fb_32.png");float:right;background-repeat:no-repeat;}
#social_fb:hover {background-position:-32px 0;}
#social_twitter {margin:5px;width:32px;height:30px;background-image:url("/img/twitter_32.png");float:right;background-repeat:no-repeat;}
#social_twitter:hover {background-position:-32px 0;}


.nav-about {

}

.nav-about:hover::before {
    content: 'Dude, ';
    color: red;
    position: absolute;
    left: -4px;
}
.nav-about:hover::after {
    content: '';
    color: red;
}
