<header id="masthead" class="site-header" role="banner">
    <hgroup>
        <h1 class="site-title"><a href="/" title="Jed Feder" rel="home">Jed Feder</a></h1>
        <h2 class="site-description">Percussionist, Actor, Composer, Baritone/Bass, Guitarist, Songwriter, Sound Designer, Extreme Finger-Snapper</h2>
    </hgroup>
    <div id="social" style="float:right;margin-top:15px;">
        <a href="http://www.twitter.com/l8forlunch/" title="Follow us on Twitter" target="_blank"><div id="social_twitter"></div></a>
        <a href="http://www.facebook.com/lateforlunchband/" title="Like us on Facebook" target="_blank"><div id="social_fb"></div></a>
    </div>
</header>
