<header id="masthead" class="site-header" role="banner">
    <hgroup>
        <div id="social" style="float:right;margin-top:15px;">
            <a target="_blank" href="mailto:jed.feder@gmail.com"><img id="email" src="/img/email-64.png"/></a>
            <a target="_blank" href="https://twitter.com/JedFeder"><img id="twitter" src="/img/twitter-64.png"/></a>
        </div>
        <h1 class="site-title"><a href="/" title="Jed Feder" rel="home">Jed Feder</a></h1>
        <h2 class="site-description">Percussionist, Actor, Composer, Baritone/Bass, Guitarist, Songwriter, Sound Designer, Extreme Finger-Snapper</h2>
    </hgroup>
    {% if page.hide_nav %}
    {% else %}
    <div class="col-md-12">
      {% include nav.html %}
    </div>
    {% endif %}
</header>
